<p>Esse é o componente de Exemplo!</p>
<br>
<p>Ele existe independente do componente principal, mas pode ser utilizado dentro dele.</p>
<div>
    <ul>
        <li *ngFor="let d of data">
            <span [ngStyle]="{'color':(d.id%2==0) ? 'red' : 'green'}"><b>{{d.id}}</b> - {{d.name}} <span *ngIf="d.name == 'exemplo'"> - EXEMPLO DE IF</span></span>
        </li>
    </ul>
</div>
<div>
    <input type="text" #entry>
    <button type="button" (click)="addData(entry.value)">Adicionar</button>
</div>
